@use "modules/vars";
@use "utils/utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: vars.$bg-color;
  font-size: 1.6rem;
}

* a {
  text-decoration: none;
  color: vars.$text-color;
}

%container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.container {
  @extend %container;
  align-items: center;
  justify-content: center;

  .projects_container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    min-height: 40rem;

    h2 {
      width: 100%;
    }
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    a {
      margin-inline: 1rem;
    }
  }
}

.project {
  width: 35%;
  min-height: 34rem;
  max-height: 34rem;
  background: darken(vars.$bg-color, 5%);
  word-break: break-all;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;

  h2 {
    text-align: center;
    margin: 1rem;
    color: #5959d7;
  }
}

.task {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darken(vars.$bg-color, 10%);
}

#formAddTask {
  width: 100%;
}

#addTaskContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskDetails {
  @extend .task;
  width: 100%;
  padding: 2rem;
}

.disabled {
  display: none;
}

.functionalityContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.allTasksContainer {
  min-height: 15rem;
  max-height: 15rem;
  width: 100%;
  overflow-x: unset;
  overflow-y: scroll;
}

.timeDetails {
  width: 30%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.detailsList {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3, p, button {
    width: 25%;
  }
}

.details_project_container {
  width: 100%;
  padding: 5rem;
}

.detailsTaskContainer {
  width: 100%;
}

.containerDetailsProject {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: darken(vars.$bg-color, 5%);

  h1 {
    width: 100%;
    text-align: center;
  }
}

.editTimeInput {
  width: 25%;
}

.containerTimeEdit {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 1rem;
}

button {
  padding: 1rem;
  border-radius: 360px;
  border-style: none;
  margin-inline: 0.5rem;
}

.createProjectContainer {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  input {
    border: none;
    border-radius: 32px;
  }
}

.containerTitleProject {
  width: 100%;
}

.labelContainer {
  width: 100%;
  margin-bottom: 0.5rem;
}

#addTaskButton {
  padding: 0.5rem;
  border-radius: 360px;
  border-style: none;
  width: 25%;
}

#titleTask {
  padding: 0.5rem;
}

.totalTime {
  width: 100%;
}

.projectOptions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.deleteProjectButton {
  border: none;
  border-radius: 32px;
  padding: 0.5rem;
}

.form {
  width: 70%;
  background: darken(vars.$bg-color, 5%);
  padding: 2rem;
  margin-top: 15rem;

  label {
    display: block;
    margin-top: 1rem;
  }

  input {
    margin-top: 1rem;
    width: 35%;
    padding: 1rem;
    border: none;
  }

}

.error {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  color: #FEFEFE;
  background: #e85c5c;
  transition: 1s;
  cursor: pointer;
}

.success {
  @extend .error;
  background: #4f805d;
}

@media screen and (max-width: 1300px) {
  .project{
    width: 100%;
    margin-top: 2rem;
    margin-inline: 0;
  }

  .projects_container, .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .createProjectContainer {
    width: 100%;
  }

  .functionalityContainer, .details_project_container {
    padding: 0;
  }

  .detailsList {
    display: flex;
    flex-flow: row wrap;
    h3, p, button {
      width: 100%;
    }

    button {
      margin-top: 1rem;
    }
  }
}

