@use "modules/vars";
@use "utils/utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: vars.$bg-color;
  font-size: 1.6rem;
}

%container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.container {
  @extend %container;
  align-items: center;
  justify-content: center;

  .projects_container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    min-height: 40rem;

    h2 {
      width: 100%;
    }
  }
}

.project {
  width: 30%;
  min-height: 25rem;
  max-height: 25rem;
  background: darken(vars.$bg-color, 5%);
  word-break: break-all;
  padding: 1rem;
  overflow: scroll;
}

.task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darken(vars.$bg-color, 10%);
}

.disabled {
  display: none;
}



